###
### Untrusted apps.
###
### This file defines the rules for untrusted apps.
### Apps are labeled based on mac_permissions.xml (maps signer and
### optionally package name to seinfo value) and seapp_contexts (maps UID
### and optionally seinfo value to domain for process and type for data
### directory).  The untrusted_app domain is the default assignment in
### seapp_contexts for any app with UID between APP_AID (10000)
### and AID_ISOLATED_START (99000) if the app has no specific seinfo
### value as determined from mac_permissions.xml.  In current AOSP, this
### domain is assigned to all non-system apps as well as to any system apps
### that are not signed by the platform key.  To move
### a system app into a specific domain, add a signer entry for it to
### mac_permissions.xml and assign it one of the pre-existing seinfo values
### or define and use a new seinfo value in both mac_permissions.xml and
### seapp_contexts.
###

typeattribute untrusted_app coredomain;

# Allow Substratum
allow untrusted_app DockObserver_service:service_manager find;
allow untrusted_app battery_service:service_manager find;
allow untrusted_app commontime_management_service:service_manager find;
allow untrusted_app cpuinfo_service:service_manager find;
allow untrusted_app devicestoragemonitor_service:service_manager find;
allow untrusted_app diskstats_service:service_manager find;
allow untrusted_app gfxinfo_service:service_manager find;
allow untrusted_app gpu_service:service_manager find;
allow untrusted_app incident_service:service_manager find;
allow untrusted_app installd_service:service_manager find;
allow untrusted_app lock_settings_service:service_manager find;
allow untrusted_app cameraproxy_service:service_manager find;
allow untrusted_app meminfo_service:service_manager find;
allow untrusted_app mediaextractor_update_service:service_manager find;
allow untrusted_app netd_service:service_manager find;
allow untrusted_app netd_listener_service:service_manager find;
allow untrusted_app network_score_service:service_manager find;
allow untrusted_app network_time_update_service:service_manager find;
allow untrusted_app binder_calls_stats_service:service_manager find;
allow untrusted_app network_watchlist_service:service_manager find;
allow untrusted_app dbinfo_service:service_manager find;
allow untrusted_app oem_lock_service:service_manager find;
allow untrusted_app otadexopt_service:service_manager find;
allow untrusted_app overlay_service:service_manager find;
allow untrusted_app package_native_service:service_manager find;
allow untrusted_app perfprofd_service:service_manager find;
allow untrusted_app persistent_data_block_service:service_manager find;
allow untrusted_app pinner_service:service_manager find;
allow untrusted_app processinfo_service:service_manager find;
allow untrusted_app recovery_service:service_manager find;
allow untrusted_app scheduling_policy_service:service_manager find;
allow untrusted_app secure_element_service:service_manager find;
allow untrusted_app serial_service:service_manager find;
allow untrusted_app stats_service:service_manager find;
allow untrusted_app statscompanion_service:service_manager find;
allow untrusted_app storaged_service:service_manager find;
allow untrusted_app default_android_service:service_manager find;
allow untrusted_app system_update_service:service_manager find;
allow untrusted_app thermal_service:service_manager find;
allow untrusted_app updatelock_service:service_manager find;
allow untrusted_app vold_service:service_manager find;
allow untrusted_app wificond_service:service_manager find;
allow untrusted_app wifiscanner_service:service_manager find;
allow untrusted_app window_service:service_manager find;

app_domain(untrusted_app)
untrusted_app_domain(untrusted_app)
net_domain(untrusted_app)
bluetooth_domain(untrusted_app)
